# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.vsidx
*.lock
*.tlog
*.pdb
*.idb
*.ilk
*.recipe
*.pdb
*.log
*.pdb
*.opendb
*.db-shm
*.db-wal
*.idb
*.idb
*.pdb
*.tlog
*.pdb
*.ilk
*.tlog
.vs/Direct12_Tutorial/v17/.suo
/.vs
*.pdb
*.pdb
*.pdb
x64/Debug/Direct12_Tutorial.pdb
